<?xml version="1.0" encoding="utf-8" ?>
<configuration>    
    <system.diagnostics>
        <sources>
            <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelMessageLoggingListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
            <source name="System.ServiceModel" switchValue="Warning, ActivityTracing"
                propagateActivity="true">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelTraceListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add initializeData="C:\Data\cursos\Microsoft\Evora09\Demos\DictionaryService\App_messages.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
            <add initializeData="C:\Data\cursos\Microsoft\Evora09\Demos\DictionaryService\App_tracelog.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
        </sharedListeners>
    </system.diagnostics>
  
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="ServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8080/metadata" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        
        <bindings>          
            <netTcpRelayBinding>
                <remove name="metadataExchangeRelayBinding" />
            </netTcpRelayBinding>           
        </bindings>
        
        <client>
            <remove contract="IMetadataExchange" name="sb" />
        </client>
        
        <diagnostics>
            <messageLogging logEntireMessage="true" logMalformedMessages="true"
                logMessagesAtTransportLevel="true" />
        </diagnostics>
      
      <!--
        <services>
            <service behaviorConfiguration="ServiceBehavior" name="DictionaryService.DictionaryServiceImpl">
                <endpoint address="http://localhost:8080/DictionaryService" binding="basicHttpBinding"
                    name="Endpoint1" contract="DictionaryService.IDictionaryService" />
            </service>
        </services>
      -->
       
    </system.serviceModel>
    
</configuration>